# Tuple practice and Notes

In [8]:
#Nested tuple
t=(190, 20, (20,8), {"Mayuresh","Khot"})#Tuple can have mixed datatypes
t

(190, 20, (20, 8), {'Khot', 'Mayuresh'})

In [12]:
#t[3][0]# this won't work, cos {} is a set, and order is not guranteed in sets, so there's no [0] in this set.

In [13]:
t[2][1]

8

## Tuple Removing and deleting

In [20]:
t1=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')
# del t1[3] # You can't delete any items from a tuple, cos it's immutable.

In [17]:
t1[2]='fifty' # You can't assign different value to an element in a tuple, cos again, it's immutable.

NameError: name 't1' is not defined

In [19]:
# del t1 # This is how you delete a tuple

## Loop through a tuple

In [21]:
t2=t1
t2

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [22]:
for i in t2:
    print(i)

one
two
three
four
five
six
seven
eight
nine
ten

In [24]:
for i in enumerate(t2): #Enumerate function connects the iterable elements with the serial of numbers starting from 0
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')
(9, 'ten')

## Membership in Tuple

In [25]:
'one' in t2 #Check if 'one' is in the tuple

True

In [26]:
'eleven' in t2

False

In [28]:
if 'three' in t2:
    print("Three is there in p2")
else:
    print("Three is not there")

Three is there in p2

# Sorting

In [41]:
t3=((100,50),'40',60,80,10,500)
t3

((100, 50), '40', 60, 80, 10, 500)

In [42]:
sorted(t3, reverse=True)#Not sorting won't work, because of different datatypes

TypeError: '<' not supported between instances of 'str' and 'int'

# all() and any()

**all():Returns True only if all elements in the iterable are truthy (i.e., not False, 0, None, '', etc.).**
- This returns false if any one is false

In [44]:
t = (1, True, "hello")
print(all(t))  # True → all elements are truthy

True

**any(): Returns True if at least one element in the iterable is truthy.**
- This returns false if all elements are false

In [45]:
t = (0, False, "", 5)
print(any(t))  # True → because 5 is truthy

True

### Real world uses or any()

In [46]:
user_permissions = ("read", "", None)

if any(user_permissions):
    print("User has at least one permission.")

User has at least one permission.

In [47]:
# Check for any failing conditions in data

temperatures = [21, 23, 25, 39, 41]  # 41 is too high

if any(temp > 40 for temp in temperatures):
    print("Warning: High temperature detected!")

Warning: High temperature detected!

In [48]:
import os

file_paths = ["data.csv", "backup.csv", "archive.zip"]

if any(os.path.exists(path) for path in file_paths):
    print("At least one file exists.")

In [49]:
#Suppose you want to check if any input field is filled:

inputs = ("", "", "user@example.com")  # only email filled

if any(inputs):
    print("Form is partially filled.")
else:
    print("All fields are empty.")

Form is partially filled.