# List Membership

In [1]:
l=[100, 10, 20, 30, 30, 20]
l

[100, 10, 20, 30, 30, 20]

In [2]:
100 in l

True

In [3]:
1000 in l

False

# Enumerate
**The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.**

It combines the value from 0 even if they are not in your datasets.

In [4]:
for i in enumerate(l):
    print(i)

(0, 100)
(1, 10)
(2, 20)
(3, 30)
(4, 30)
(5, 20)

# Extends

Merges one list to another without changing original list

In [5]:
l2=[9, 1+2j, 'string']
l2.extend(l)

In [6]:
l2

[9, (1+2j), 'string', 100, 10, 20, 30, 30, 20]

In [7]:
l

[100, 10, 20, 30, 30, 20]

# Sort and REverse
- Sort: elements in ascending order, but only similar datatypes, it won't work for a list with mixed datatypes.
- Reverse: Elements in descending order, also support list with any/different dataypes.

In [9]:
l.sort(reverse=True) #This is hyperparameter tunning. If used normal is parameter tunning.
l

[100, 30, 30, 20, 20, 10]

In [13]:
l.reverse()
l

[100, 30, 30, 20, 20, 10]

In [14]:
l2.sort()# Sort is not applied in list with different datatypes
l2

TypeError: '<' not supported between instances of 'complex' and 'int'

In [15]:
l2.reverse()#Therefore reverse is used.
l2

[20, 30, 30, 20, 10, 100, 'string', (1+2j), 9]

# All and Any
- all()
- any()

# List Data Structure is Completed

# Tuple
- defined with ()
- Tuple is immutable--> useful for personal and credentials type of data
- It's elements are still accessible using square bracs [].
- t2=t1*3> doing this will repeat the t1 as it is 3 times, it won't multipy the values within the tuple.

In [17]:
t = ()
type(t)

tuple

In [21]:
t1=(10, 20, 30)
t1.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [22]:
sbi=('name', 3993)
sbi

('name', 3993)

In [24]:
sbi[1]

3993

In [26]:
t2=t1*3
t2

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [27]:
del t2 # to delete the tuple

In [28]:
t2

NameError: name 't2' is not defined