# Raw Data
- Data containing missing value, cluttered value, etc. is a raw data

# Clear Data
- When data analyst fills the missing data, it becomes clean data.
- So, the data that does not contain any missing value is called clean data.

**Coversion of raw data into clean data is called data cleaning/data cleansing/Data Processing**

## Kaggle.com
## Huggingface.com
## uci.com

### Excel has a limit of 1048576 rows ONLY. Therefore we need big data tools like Pandas

In [2]:
# 9353157658=Prakash Senapathi

# IMDB - Movie data analysis Project

In [3]:
import pandas as pd

In [4]:
movies = pd.read_csv(r"D:\NareshIT_PrakashSenapati\Prakash Sir-Notes\Datasets\11_14072025_Kaggle_Imdb_dataset\movie.csv")

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings = pd.read_csv(r"D:\NareshIT_PrakashSenapati\Prakash Sir-Notes\Datasets\11_14072025_Kaggle_Imdb_dataset\rating.csv")

In [7]:
ratings.shape

(20000263, 4)

In [8]:
tags = pd.read_csv(r"D:\NareshIT_PrakashSenapati\Prakash Sir-Notes\Datasets\11_14072025_Kaggle_Imdb_dataset\tag.csv")

In [9]:
tags.shape

(465564, 4)

In [10]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [11]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [12]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [13]:
del ratings['timestamp']
del tags['timestamp']

In [14]:
ratings.columns

Index(['userId', 'movieId', 'rating'], dtype='object')

In [15]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

# iloc

- Stands for index location

**These datasets are relational datasets, cos they contain one similar column with similar ids: id column**

## What's series?

In [16]:
tags.iloc[2]

userId            65
movieId          353
tag        dark hero
Name: 2, dtype: object

In [18]:
row_0 = tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [19]:
print(row_0)

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object