In [7]:
#Strip Method
str="  xyz may uresh  khot  "#Removes spaces of the left only (and only 1 i guess)
str.lstrip()
str

'  xyz may uresh  khot  '

In [8]:
str = '  xyz   mayuresh  kho t  '
str = str.strip() # Removes spaces from the both the sides.
print(str)

xyz   mayuresh  kho t

### Escape Character '\'

In [9]:
#Using escape character to allow illegal characters
mystr = "My favourite series is "Game of Thrones""

SyntaxError: invalid syntax (2770357745.py, line 2)

In [11]:
mystr2 = "My favourite series is \"Game of Thrones\""
print(mystr2)
# \ This is the escape character that we can use in such scenarios

My favourite series is "Game of Thrones"

### List
list = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
list

In [16]:
list=[{'Jonh', 'David', 'Math', 'Pie'}]
print(list[0])
# list[0][2]#You cannot access set inside the list
# and the length of the list will be one, cos it consider the set of 1 {} as one element
print(len(list))

{'Jonh', 'David', 'Math', 'Pie'}
1

### List Slicing

In [8]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
mylist[3:9:3]

['four', 'seven']

In [12]:
mylist[-4:]

['seven', 'eight', 'nine', 'ten']