In [1]:
# Function is set of statements.
# Converting one datatype into another is called as typecasting.
int(2.5)

2

In [2]:
int(2.3,4.5)#Error, only one argument is accepted in typecasting

TypeError: 'float' object cannot be interpreted as an integer

In [5]:
print(int('10'))

10

### Possible typecasts to Int
1. float to int--Possible
2. bool to int--Possible
3. String to int--Only if the string is number '10'. like int('ten') not possible
4. complex to int--Not possible

### Possible tupecasts to Float
1. int to float--Possible
2. bool to float--possible
3. complex to float--Not possible
4. String to float--Not possible with text, possible with numbers

### Possible typecasts to Complex
1. int to complex--possible- It takes 1 or 2 arguments
2. float to complex--possible
3. bool to complex--Possible(it converts the bool into int)
4. String to complex--Not possible with 2 arguments but possible with 1 arg

### Possible typecasts to bool
1. If boolean has arg, it returns true
2. If no arg, it returns false
3. Takes only valid datatypes

### Possible typecasts to String
1. every datatype will be converted to string--> simply by adding '' or ""

In [6]:
print(float(2))
print(float(True))
print(float('two')) #Not possible

2.0
1.0

ValueError: could not convert string to float: 'two'

In [7]:
# Complex to int
complex(20)

(20+0j)

In [8]:
complex(2,34)

(2+34j)

In [9]:
complex(2,4,5)

TypeError: complex() takes at most 2 arguments (3 given)

In [10]:
#String to complex
complex('1',2)

TypeError: complex() can't take second arg if first is a string

In [11]:
complex(2, '1')

TypeError: complex() second arg can't be a string

In [12]:
complex('2', '3')

TypeError: complex() can't take second arg if first is a string

In [13]:
complex('2')

(2+0j)

In [14]:
#Boolean Operations
print(bool(1))
print(bool(1.1))
print(bool(1+2j))
print(bool('str'))

True
True
True
True