# Set
- Set and Dict both uses {}
- and python assumes that s={} is a dict
- So how to create emplty set?
- No matter how you add() the value, in random, Set will be ordered.
- Set is in order with SIMILAR DATATYPES, else it's UNORDERED.
- Duplicates are not allowed
- Indexing is not allowed in Set
- Slicing is not allowed
- List inside a set is not possible. s={[1,2,3]}
- Different/Mix data types are allowed.
- Difference between append and add()
  - append(): appends value at last (In list only)
  - add(): adds in a sorted way
- Set is 

$Functions$
- pop(): removes the element from the set- RANDOMLY and display the ouput. Unline lists pop() which removes only the last element.
- remove(): removes elements within the params. remvove(1+2j). Removes a specific element.
  - difference between remove() and discard()
  - remove(): It removes the number if available, if not available, it throws the ERROR.
  - discard(): it removes if the number is available it deletes it, if not available, it won't delete, but it won't throw ERROR

In [1]:
s={}
type(s)

dict

In [3]:
s1=set()
type(s1) # This is how you can define empty set.

set

In [4]:
s1.add(10)

In [5]:
s1

{10}

In [6]:
s1.add(30,20) # Set does not accept two params in add() function.

TypeError: set.add() takes exactly one argument (2 given)

In [7]:
s1.add(10)
s1.add(100)
s1.add(80)
s1.add(35)
s1

{10, 35, 80, 100}

In [9]:
s1.add(10) #Duplocates are not allowed.
s1

{10, 35, 80, 100}

In [10]:
s[1] # Not allwed

KeyError: 1

In [11]:
s1[:] # slicing is not allowed.

TypeError: 'set' object is not subscriptable

In [13]:
s2=set()
s2.add(10)
s2.add('ten')
s2.add(1+2j)
s2.add(1.1)
s2

{(1+2j), 1.1, 10, 'ten'}

In [14]:
print(s1)
print(s2)

{80, 10, 35, 100}
{1.1, 10, 'ten', (1+2j)}

In [15]:
s3=s2.copy()
s3

{(1+2j), 1.1, 10, 'ten'}

In [16]:
#Now
s2==s3

True

In [17]:
#But
id(s2)==id(s3)

False

In [18]:
s2.remove(10)
s2

{(1+2j), 1.1, 'ten'}

In [19]:
s2.pop()#removes elements randomly.
s2

{(1+2j), 'ten'}

In [21]:
s3.add(100)
s3

{(1+2j), 1.1, 10, 100, 'ten'}

In [22]:
s3.remove(1000)#throws error cos 1000 does not exist
s3

KeyError: 1000

In [23]:
#BUT
s3.discard(1000)
s3

{(1+2j), 1.1, 10, 100, 'ten'}

# Set basics- Completed

# Set Operations:
- loop and enumerate words in SET.

In [24]:
for i in s3:
    print(i)

1.1
ten
100
(1+2j)
10

In [25]:
for i in enumerate(s3):#In set indexing is not allowed, but enumerate is not index.
    print(i)

(0, 1.1)
(1, 'ten')
(2, 100)
(3, (1+2j))
(4, 10)

## Union - in SQL it's Inner Joint

In [26]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [27]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
a | b # Same as Union function.

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
b | c

{4, 5, 6, 7, 8, 9, 10}

In [30]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Difference

In [31]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [32]:
a.difference(b)#Prints only a table that's unique and remove common items

{1, 2, 3}

In [33]:
b.difference(a)# Prints only b table's unique value and remove common items

{6, 7, 8}

In [34]:
a.difference(c)

{1, 2, 3, 4, 5}